<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>队列监控</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">话务管理</a></li>
    <li><a href="#">队列监控</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>队列监控</span></div>
    
    <ul class="forminfo">
	<li>	
		在线座席数：<font>0</font>
		空闲座席数：<font>0</font>
		通话座席数：<font>0</font>
		示忙座席数：<font>0</font>	
		<input name="" type="button" class="btn" value="显示全部坐席"/>
	</li>
	<li>
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>
    </ul>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>
</html>
