<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>座席状态</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">话务管理</a></li>
    <li><a href="#">座席状态</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>座席状态</span></div>
    <h1>先不弄</h1>
    <ul class="forminfo">
    <li>	
    	筛选：
		<select id="province" class="dfinput" style="width:100px">
			<option value="">请选择部门</option>
			{{foreach from=$appprovinceOptions key=value item=name}}
			<option name="khsf" checked="checked" value="{{$value}}">{{$name}}</option>
			{{/foreach}}
		</select>
		工号：<input id="kddh" name="" type="text" class="dfinput" style="width:100px" />
		排序：
		<select id="province" class="dfinput" style="width:100px">
			<option value="">工号</option>
			<option value="">姓名</option>
		</select>

		<input name="" type="button" class="btn" value="查找"/>
	</li>
	 <li>
		<input name="" type="button" class="btn" value="监听"/>
		<input name="" type="button" class="btn" value="强插"/>
		<input name="" type="button" class="btn" value="强拆"/>
		<input name="" type="button" class="btn" value="转至"/>
		<input name="" type="button" class="btn" value="呼叫"/>
		<input name="" type="button" class="btn" value="消息"/>
		<input name="" type="button" class="btn" value="强制示闲"/>
		<input name="" type="button" class="btn" value="强制示忙"/>
		<input name="" type="button" class="btn" value="强制注销"/>
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>
    </ul>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>
</html>
