<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>强制注销</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">话务管理</a></li>
    <li><a href="#">强制注销</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>强制注销</span></div>
    
    <ul class="forminfo">
    <li><b>强制注销：</b>(用于重复登录对方不释放，或异常退出，再次登录不进去的情况)</li>
    <li>
		用户名：<input id="username" name="" type="text" class="dfinput" style="width:200px" /> <font id="usertips" style="color:#ff0000;"></font>
	</li>
	<li>
		分机号：<input id="fenji" name="" type="text" class="dfinput" style="width:200px" /> <font id="fenjitips" style="color:#ff0000;"></font>
	</li>
	 <li>
		<input id="forceLogoff" name="" type="button" class="btn" value="确定"/>
		<input id="reset" name="" type="button" class="btn" value="重置"/>
		<input name="" type="button" class="btn" onclick="history.go(-1)" style="color:#000000; background:#999999" value="返回"/>
	</li>
	<font id="tips" style="color:#ff0000;"></font>	
  	<table class="imgtable">
    
		<thead>
			<tr>
				
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>
    </ul>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script type="text/javascript" src="public/template/js/hwgl/qzzx_hw.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>
</html>
