<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>座席状态</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">话务管理</a></li>
    <li><a href="#">座席状态</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>座席状态</span></div>
    <!-- 当前登录的分机号码 -->
    <input id="currentExtension" type="hidden" value="{{$sessioninfo.fenji}}" />
    <ul class="forminfo">
    <!-- <li>	
    	筛选：
    		<select id="province" class="dfinput" style="width:100px">
    			<option value="">请选择部门</option>
    			{{foreach from=$dept key=value item=name}}
    			<option name="khsf" checked="checked" value="{{$value}}">{{$name}}</option>
    			{{/foreach}}
    		</select>
    		工号：<input id="kddh" name="" type="text" class="dfinput" style="width:100px" />
    		排序：
    		<select id="province" class="dfinput" style="width:100px">
    			<option value="">工号</option>
    			<option value="">姓名</option>
    		</select>
    
    		<input name="" type="button" class="btn" value="查找"/>
    	</li> -->
	<!-- 选中的分机号码 -->
	<input id="extension" type="hidden" value="" />
	<!-- 选中的通话号码 -->
	<input id="callNumber" type="hidden" value="" />
	 <li>
		<input id="chanspyb" name="" type="button" class="btn" value="监听" auth=""/>
		<input id="transin" name="" type="button" class="btn" value="强插" auth=""/>
		<input id="hangup" name="" type="button" class="btn" value="强拆" auth="" />
		<input id="transout" name="" type="button" class="btn" value="转至" auth="" />
		<input id="dial" name="" type="button" class="btn" value="呼叫" auth="" />
		<input id="chanspyw" name="" type="button" class="btn" value="消息" auth="" />
		<input id="dndoff" name="" type="button" class="btn" value="强制示闲" auth="" />
		<input id="dndon" name="" type="button" class="btn" value="强制示忙" auth="" />
		<input id="chanspyw2" name="" type="button" class="btn" value="强制注销" auth="" />
		<font id="tips" style="color:#ff0000;"></font>
	</li>
	<div style="overflow:auto;width:100%;height:800px;">
	  	<table class="imgtable">
			<thead>
				<tr>
					<th width="3%">ID</th>
					<th width="6%">姓名</th>
					<th width="6%">分机</th>
					<th width="6%">分机状态</th>
					<th width="6%">示忙/示闲</th>
					<th width="8%">通话号码</th>
					<th width="10%">通话时间(秒)</th>
				</tr>
			</thead>
				<tbody id="getCheckeboxId">
				</tbody>
				<tfoot>
					<tr><td colspan="6" class="page"></td></tr>				
				</tfoot>
	    	<input id="url" type="hidden" value=""/>
	    </table>
	</div>
    </ul>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script type="text/javascript" src="public/template/js/hwgl/zxzt_hw.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>
</html>
