<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单金额历史趋势详情</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">媒体管理</a></li>
    <li><a href="#">订单金额历史趋势详情</a></li>
    </ul>
    </div>
    
<div class="formbody">
    
    <div class="formtitle"><span>订单金额历史趋势详情</span></div>
    
    <ul class="forminfo">
    <li>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="<<前30天"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="后30天>>"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="最近30天"/>
		起止时间：
		
	</li>
	<li>
	
	</li>
	<li>
		<input name="" type="button" class="btn" value="按日统计"/>
		<input name="" type="button" class="btn" value="按周统计"/>
		<input name="" type="button" class="btn" value="按月统计"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="返回" onclick="history.go(-1);"/>
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th>日期</th>
				<th>下单/金额</th>
				<th>确认/金额</th>
				<th>发货/金额</th>
				<th>签收/金额</th>
				<th></th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				
			</tr>
		</tbody>
    
    </table>
    </ul>
    
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
