<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户短信</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
	<span>位置：</span>
	<ul class="placeul">
	<li><a href="#">客户管理</a></li>
	<li><a href="#">客户短信</a></li>
	</ul>
	</div>

	<div class="formbody">

	<div class="formtitle"><span>空闲</span></div>

	<ul class="forminfo">
	<li>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="今天"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="昨天"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="最近7天"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="最近30天"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="本月"/>
		<input name="" type="button" class="btn" value="前一个月"/>
		<input name="" type="button" class="btn" value="后一个月"/>
		开始日期：<input name="" type="text" class="dfinput" style="width:100px" />
		结束日期：<input name="" type="text" class="dfinput" style="width:100px"  />
		
		<input name="" type="button" class="btn" value="查询"/>

	</li>
	<li></li>
	<table class="imgtable">

		<thead>
			<tr>
				<th>分组</th>
				<th>发送数</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				
			</tr>
		</tbody>

	</table>
	<li></li>

	</ul>


	</div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
