<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>已收外部短信</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span id="pagehidden" page="" psize="">位置：</span>
    <ul class="placeul">
    <li><a href="#">短信平台</a></li>
    <li><a href="#">已收外部短信</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>已收外部短信</span></div>
    
    <ul class="forminfo">
    
    <li>
		<a href="index.php?r=dxgl/GetFswbdxHtml"><input name="" type="button" class="btn" value="发送外部短信"/></a>
		<a href="index.php?r=dxgl/GetYfwbdxHtml"><input name="" type="button" class="btn" value="已发外部短信"/></a>
		<a href="index.php?r=dxgl/GetYswbdxHtml"><input name="" type="button" class="btn" style="color:#000000; background:#999999" value="已收外部短信"/></a>
		<a href="index.php?r=dxgl/GetWbhfcxHtml"><input name="" type="button" class="btn" value="回复查询"/></a>
	</li>

	<li>
		接收时间：<input id="cjsjq" name="" type="text" class="dfinput" style="width:100px" onClick="WdatePicker()" value="{{$defaultStartTime}}"/>
		至：<input id="cjsjz" name="" type="text" class="dfinput" style="width:100px" onClick="getCjsjEnd()" value="{{$defaultCurrentTime}}"/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		回复号码：
		<input id="" name="" type="text" class="dfinput" style="width:140px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		回复内容：
		<input id="" name="" type="text" class="dfinput" style="width:140px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		发送账号：
		<select id="" class="dfinput" style="width:100px">
			<option value="">请选择</option>
		</select>
		&nbsp;&nbsp;<input name="" type="button" class="btn" value="搜索"/>
	</li>
	

	<li> </li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th>序号</th>
				<th>回复号码</th>
				<th>回复内容</th>
				<th>回复时间</th>
				<th>短信接口</th>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>


</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>	
<script type="text/javascript" src="public/template/js/ssqld_kh.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>

<script type="text/javascript">
	/*function setCjsjBegin(){
		$("#cjsjq").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 00:00:00");
	}*/
	function getCjsjEnd(){
		var begindate = $("#cjsjq").val();
		WdatePicker({minDate:begindate});
	}
	/*function setCjsjEnd(){
		$("#cjsjz").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 23:59:59");
	}*/

</script>


</html>
