<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>选项设置</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">系统设置</a></li>
    <li><a href="#">选项设置</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle" id="ddcx"><span>单据格式设置</span></div>
    
    <ul class="forminfo" id="ddcxtj">
	<li>
		<a href="index.php?r=xtsz/GetKdgsHtml">
			<input name="" type="button" class="btn" value="快递公司设置"/>
		</a>
		<a href="index.php?r=xtsz/GetKhyxHtml">
			<input name="" type="button" class="btn" value="客户意向设置"/>
		</a>
		<a href="index.php?r=xtsz/GetHydjHtml">
			<input name="" type="button" class="btn" value="客户等级设置"/>
		</a>
		<a href="index.php?r=xtsz/GetDjgsHtml">
			<input name="" type="button" class="btn" style="color:#000000; background:#999999;" value="单据格式设置"/>
		</a>
		<a href="index.php?r=xtsz/GetDhhmdHtml">
			<input name="" type="button" class="btn" value="电话黑名单"/>
		</a>
		<a href="index.php?r=xtsz/GetZyHtml">
			<input name="" type="button" class="btn" value="职业设置"/>
		</a>
		<a href="index.php?r=xtsz/GetDqHtml">
			<input name="" type="button" class="btn" value="地区设置"/>
		</a>
		<a href="index.php?r=xtsz/GetHmpbHtml">
			<input name="" type="button" class="btn" value="号码屏蔽设置"/>
		</a>
	</li>
	<li>
		<a href="index.php?r=xtsz/GetDqqhHtml">
			<input name="" type="button" class="btn" value="区号设置"/>
		</a>
		<a href="index.php?r=xtsz/Get400dhHtml">
			<input name="" type="button" class="btn" value="400电话设置"/>
		</a>
		<a href="index.php?r=xtsz/GetFwqHtml">
			<input name="" type="button" class="btn" value="服务器设置"/>
		</a>
		<a href="index.php?r=xtsz/GetDxgjzpbHtml">
			<input name="" type="button" class="btn" value="短信关键字屏蔽"/>
		</a>
		<a href="index.php?r=xtsz/GetKhgjbqHtml">
			<input name="" type="button" class="btn" value="客户跟进标签"/>
		</a>
		<a href="index.php?r=xtsz/GetDhjbHtml">
			<input name="" type="button" class="btn" value="电话加拨"/>
		</a>
		<a href="index.php?r=xtsz/GetQtHtml">
			<input name="" type="button" class="btn" value="其他设置"/>
		</a>
	</li>
    
    </ul>
	<ul class="forminfo">
		<li>
			<table class="imgtable">
				<tr>
					<th colspan="3" style="text-align:left">导入导出Excel模板</th>
				</tr>
				<tr>
					<td colspan="3">
						<input name="" type="button" onclick="showKHMBDialog()" class="btn" onclick="" style="float:left" value="客户资料模板"/>
						<input name="" type="button" class="btn" onclick="showCPMBDialog()" style="float:left" value="产品信息模板"/>
					</td>
				</tr>
				<tr>
					<th colspan="3" style="text-align:left">出货单模板</th>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td>
						<a href="public/template/grfUtils/data/xmlChuHuodan.php?id=" target="_blank">
							<input name="" type="button" class="btn" onclick="" style="float:left" value="预览出货单模板"/>
						</a>
						<input name="" type="button" class="btn" onclick="" style="float:left" value="备份出货单模板"/>
					</td>
				</tr>
				<tr>
					<th colspan="3" style="text-align:left">采购单模板</th>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td>
						<a href="public/template/grfUtils/data/xmlCaiGoudan.php?id=CG16030010" target="_blank">
							<input name="" type="button" class="btn" onclick="" style="float:left" value="预览采购单模板"/>
						</a>
						<input name="" type="button" class="btn" onclick="" style="float:left" value="备份采购单模板"/>
					</td>
				</tr>
				<tr>
					<th colspan="3" style="text-align:left">入库单模板</th>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td>
						<a href="public/template/grfUtils/data/xmlRuKudan.php?id=" target="_blank">
							<input name="" type="button" class="btn" onclick="" style="float:left" value="预览入库单模板"/>
						</a>
						<input name="" type="button" class="btn" onclick="" style="float:left" value="备份入库单模板"/>
					</td>
				</tr>
				<tr>
					<th colspan="3" style="text-align:left">快递单模板</th>
				</tr>
				<tr>
					<th>编号</th>
					<th>快递公司</th>
					<th width="70%"></th>
				</tr>
				<tbody id="kdgsTable">
	
				</tbody>
			</table>
		</li>
	</ul>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/index.js"></script>
<script language="JavaScript" src="public/template/js/zDialog.js"></script>
<script language="JavaScript" src="public/template/js/zDrag.js"></script>
<script type="text/javascript" src="public/template/js/xtsz/xxsz/djgs.js"></script>
</html>
