<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全部通话记录</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">通话管理</a></li>
    <li><a href="#">全部通话记录</a></li>
    </ul>
    </div>
    
<div class="formbody">
    
    <div class="formtitle"><span>全部通话记录</span></div>
    
    <ul class="forminfo">
    <li>
        分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：<input id="thfj" name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		 主叫号码：<input id="zjhm" name="" type="text" class="dfinput" style="width:100px" />
		  &nbsp;&nbsp;&nbsp;&nbsp;
		 被叫号码：<input id="bjhm" name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		 呼叫时间：<input id="khzcsjq" name="" type="text" class="dfinput" style="width:100px" onClick="WdatePicker()" value="{{$defaultStartTime}}" />
		至&nbsp;<input id="khzcsjz" name="" type="text" class="dfinput" style="width:100px" onClick="getZcsjEnd()" value="{{$defaultCurrentTime}}"/>
	</li>
	 <li>
		客户&nbsp;I&nbsp;D：<input id="khid" name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input id="thgh" name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		客户来源：
		<select class="dfinput" style="width:100px">
			<option  value="">全部来源</option>
			{{foreach from=$ClientSourceOptions key=value item=name}}
			<option name="khly" checked="checked" value="{{$name}}">{{$name}}</option>
			{{/foreach}}
		</select>
		 &nbsp;&nbsp;
		<input id="AllCallRecords" name="" type="button" class="btn" value="查询"/> &nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;
		<input id="getCallRecords" name="" type="button" class="btn" value="同步通话记录"/>
		<font style="color:#ff0000;">*注意：点击该按钮可获取系统最新的通话记录  (同步时间可能较长，请稍等...)</font>
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th colspan="14" style="text-align:center">全部通话记录</th>
			</tr>
			<tr>
				<th width="3%">编号</th>
				<th width="5%">主叫号码</th>
				<th width="5%">被叫号码</th>
				<th width="6%">通话工号</th>
				<th width="6%">工号姓名</th>
				<!-- <th width="8%">客户电话</th> -->
				<th width="6%">客户ID</th>
				<th width="5%">客户姓名</th>
				<th width="5%">归属工号</th>
				<th width="10%">地区</th>
				<th width="6%">来源</th>
				<th width="5%">呼叫状态</th>
				<th width="7%">呼叫时间</th>
				<th width="7%">通话时长</th>
				<!-- <th width="5%">录音</th> -->
			</tr>
		</thead>
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot>
			<tr><td colspan="13" class="page"></td></tr>				
		</tfoot>
    
    </table>
    <!-- <li style="margin-top:2px;">
    	<input id="exportExcel" name="" type="button" class="btn-excel" value="导出Excel"/>
    </li> -->
    </ul>
    
    
    </div>
</body>
<script language="javascript" type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script type="text/javascript" src="public/template/js/thgl/qbthjl_th.js"></script>

<script>
	//开始和结束时间
	/*function setZcsjBegin(){
		$("#khzcsjq").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 00:00:00");
	}*/
	function getZcsjEnd(){
		var begindate = $("#khzcsjq").val();
		WdatePicker({minDate:begindate});
	}
	/*function setZcsjEnd(){
		$("#khzcsjz").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 23:59:59");
	}*/
</script>
</html>
