<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退货原因</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">系统设置</a></li>
    <li><a href="#">退货原因</a></li>
    </ul>
    </div>
    
    <div class="formbody">
	
	<div class="formtitle" id="khcz"><span>退货原因</span></div>
		<ul class="forminfo" id="khczxx">
			<li>
			分类名称：<input name="" id="thyy" type="text" class="dfinput" />
			<input type="button" class="btn" onclick="thyyClick()" value="查询"/>
   			<a href="index.php?r=xtsz/GetTjthyyHtml"><input name="" type="button" class="btn" value="添加退货原因"/></a>
	
			</li>
			<li>
				<table class="imgtable">
					<thead>
						<tr>
							<th width="85%" style="text-align:center">退货原因</th>
							<th style="text-align:center">操作</th>
						</tr>
					</thead>
					<tbody id="thyyTable">
						
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2" id="page"> </td>
						</tr>
					</tfoot>
				</table>
			</li>
		</ul>
   </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/xtsz/thyy.js"></script>
</html>
