<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改公告</title>
<link href="public/template/css/cp_tj.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a>系统设置</a></li>
    <li><a>修改公告</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>修改公告</span></div>
    
    <ul class="forminfo">
    
	<li></li>
	<form action="index.php?r=xtsz/UpdateAnn" method="post">
	<input type="hidden" name="id" value="{$id}" />
		<table class="imgtable">
			<tbody>
				<tr>
					<td style="text-align:right">标题：</td>
					<td style="text-align:left"><input type="text" class="dfinput" name="title" value="{{$title}}" style="width:200px"/></td>
				</tr>
				<tr>
				<input type="hidden" id="iftop" value="{{$iftop}}" />
					<td style="text-align:right">置顶：</td>
					<td style="text-align:left">
						<input type="radio" name="iftop" value="T" />是
						<input type="radio" name="iftop" value="F" checked="" />否
					</td>
				</tr>
				<tr>
				<input type="hidden" id="anntype" value="{{$anntype}}" />
					<td style="text-align:right">类型：</td>
					<td style="text-align:left">
						<select class="dfinput" name="anntype" style="width:100px">
							<option value="0">请选择类型</option>
							<option value="接线">接线</option>
							<option value="销售">销售</option>
							<option value="客服">客服</option>
							<option value="财务">财务</option>
							<option value="物流">物流</option>
							<option value="数据">数据</option>
							<option value="其它">其它</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align:right">详细内容：</td>
					<td style="text-align:left">
						<textarea class="textinput" name="content">{{$content}}</textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td style="text-align:left">
						<input type="submit" class="btn" value="提交保存" />
						<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="取消" onclick="history.go(-1)"/>
					</td>
				</tr>
			</tbody>
	    
	    </table>
	</form>
		
	<li></li>
   
    </ul>
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/xtsz/xggg.js"></script>
</html>
