<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
<title>查询客户姓名</title>
<title>添加服务器</title>
<div style="width:100%">
    <div class="formbody">
    <ul class="forminfo">  
    <li>
        请输入查询条件
        <input id="keyword" name="" type="text" class="dfinput" style="width:100px" value=""/>
       
        <input type="radio" name="search" value="2" />姓名
        <input type="radio" name="search" value="1" checked />客户id
        <input type="radio" name="search" value="3" checked />手机号
        <input id="LookUpUser" style="width:60px" name="" type="button" class="btn-info" value="查 询"/>
    </li>
    <li>
        <table class="imgtable">
            <thead>
                <tr>
                    <th width="10%"> </th>
                    <th width="40%">客户ID</th>
                    <th width="40%">姓名</th>
                </tr>
            </thead>
            <tbody id="tbody2">
                
            </tbody>
            <tfoot>
                <tr><td colspan="15" class="page"></td></tr>                
            </tfoot>
        </table>
    </li>
    
    <li><input id="SelectUser" name="" type="button" style="width:80px;" class="btn-info" value="确 定"/></li>  
    </ul></div>
</div>
<script type="text/javascript" src="public/template/js/jquery.js"></script>		
<script type="text/javascript" src="public/template/js/dialog/czkhxm.js"></script> 
<script type="text/javascript">
	
</script>

</html>
