<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
<title>合并客户资料</title>
<div style="width:100%">
    <div class="formbody">
    <ul class="forminfo">
    <li>
        客户资料1:&nbsp;&nbsp;
        <font id="khzl1"></font>
    </li>	
    <li>
        客户资料2:&nbsp;&nbsp;
        <font id="khzl2"></font>
    </li>   
    <li>
        输入客户2的资料查询
        <input id="keyword" name="" type="text" class="dfinput" style="width:100px" value=""/>
        <input type="radio" name="search" value="1" checked />客户ID
        <input type="radio" name="search" value="2" />电话
        <input type="radio" name="search" value="3" />姓名
        <input id="searchClient" name="" type="button" class="btn-info" value="查询"/>
    </li>
    <li>
        <input type="radio" name="retain" value="1" checked />保留客户1
        <input type="radio" name="retain" value="2" />保留客户2
    </li>
    
    <li>
        <input id="getCommitMerger" name="" type="button" class="btn-info" value="提交合并"/>
        <!-- <input id="CancelFollow" name="" type="button" class="btn" style="width:105px" value="取消"/> -->
    </li>   
    </ul>
    </div>
</div>

<script type="text/javascript" src="public/template/js/jquery.js"></script>		
<script type="text/javascript" src="public/template/js/dialog/hbkhzl.js"></script> 
<script type="text/javascript">
	
</script>

</html>
