<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
<title>商品详情</title>
<div style="width:100%">
    <div class="formbody">
    <ul class="forminfo">
    <input type="hidden" id="id" value="{{$goodId}}" />
    <table>
        <tr>
            <td>商品款号：<font id="spkh"></font> </td>
            <td style="padding-left:180px;">规格：<font id="spgg"></font> </td>
        </tr>
        <tr>
            <td>商品名称：<font id="spmc"></font> </td>
            <td style="padding-left:180px;">销售价：<font id="xsj"></font> </td>
        </tr>
        <tr>
            <td colspan="2">商品图片：<img style="width:150px;height:100px;" id="sptp" src="" alt="" /> </td>
        </tr>
        <tr>
            <td colspan="2">详细描述：<font id="xxms"></font> </td>
        </tr>
       <!--  <tr>
            <td colspan="2" style="padding-top:30px;padding-left:165px;"><input id="" name="" type="button" onclick="closeDialog()" class="btn" value="关闭"/></td>
              </tr> -->
    </table> 
    </ul></div>
</div>	
	
<script type="text/javascript" src="public/template/js/jquery.js"></script>		
<script type="text/javascript" src="public/template/js/dialog/spxq.js"></script> 
<script type="text/javascript">
	
</script>

</html>
