<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
<title>查询接收短信的工号</title>
<div style="width:100%">
    <div class="formbody">
    <ul class="forminfo">   
    <li>
       
        产品款号：
        <input type="text" class="dfinput" style="width:80px" id="cpkh" />
        产品名称
        <input type="text" class="dfinput" id="cpmc" />

        <input type="button" class="btn-info" value="查询" onclick="selectGH()" />
    </li>
    <li>
        <table class="imgtable">
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="30%">款号</th>
                    <th width="60%">名称</th>
                </tr>
            </thead>
            <tbody id="ghTable">
                
            </tbody>
            <tfoot>
                <tr><td colspan="3" class="page"></td></tr>
            </tfoot>
        </table>
    </li>
    <li><input id="SelectUser" name="" type="button" class="btn-info" onclick="" value="确定"/></li></ul>
    </div>
</div>
<script type="text/javascript" src="public/template/js/jquery.js"></script>	
<script type="text/javascript" src="public/template/js/dialog/xztscp.js"></script>	
<script type="text/javascript">
	
</script>

</html>
