<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
<title>读取短信</title>
<div style="width:100%">
    <div class="formbody">
    <ul class="forminfo">   
    <li>
        来自：
        <input type="text" class="dfinput" id="gh" value="{{$batch}}" />
    </li>
    <li>
        标题：
        <input type="text" class="dfinput" id="t" value="{{$dxbt}}" />
    </li>
    <li>
        内容：
        <textarea id="khbz" name="khbzxx" cols="" rows="" class="textinput">{{$dxnr}}</textarea>
    </li>
    </div>
</div>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript">
	
</script>

</html>
