
<!DOCTYPE HTML>
<html>
<head>
<title>用户登录</title>
<!-- Custom Theme files -->
<link href="public/template/css/login.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href="public/template/css/Default.css" type=text/css rel=stylesheet>
<link href="public/template/css/xtree.css" type=text/css rel=stylesheet>
<link href="public/template/css/User_Login.css" type=text/css rel=stylesheet>
<link href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body id="userlogin_body">
<div></div>

<div id="user_login">
<dl>
  <dd id="user_top">
  <ul>
    <li class="user_top_l"></li>
    <li class="user_top_c"></li>
    <li class="user_top_r"></li></ul>
  <dd id="user_main">
  <ul>
    <li class="user_main_l"></li>
    <li class="user_main_c">
    <div class="user_main_box">
    <ul>
      <li class="user_main_text">用户名： </li>
      <li class="user_main_input">
	  <input class="TxtUserNameCssClass" id="username" maxLength="20" name="username"> </li></ul>
    <ul>
      <li class="user_main_text">密 码： </li>
      <li class="user_main_input">
      <input class="TxtPasswordCssClass" id="pwd" type="password" name="pwd"> </li></ul>
    <ul>
      <!-- <li class="user_main_text">Cookie： </li>
      <li class="user_main_input">
      	  <SELECT id="DropExpiration" name="DropExpiration"> 
        <OPTION value="None selected">不保存</OPTION> 
      		<OPTION value="Day">保存一天</OPTION> 
        <OPTION value="Month">保存一月</OPTION> 
      		<OPTION value="Year">保存一年</OPTION></SELECT> </li> --></ul></div></li>
    <li class="user_main_r">
	<input class="IbtnEnterCssClass" id="IbtnEnter"
    style="BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px" type="image" src="public/template/images/login/user_botton.gif" name="IbtnEnter"> </li></ul>
  <dd id="user_bottom">
  <ul>
    <li class="user_bottom_l"></li>
    <li class="user_bottom_c"><span style="MARGIN-TOP: 40px"></span> </li>
    <li class="user_bottom_r"></li></ul></dd></dl></div>
	<span id="ValrUserName" style="DISPLAY: none; COLOR: red">
	</span><span id="ValrPassword" style="DISPLAY: none; COLOR: red"></span>
	<span id="ValrValidateCode" style="DISPLAY: none; COLOR: red"></span>
<div id="ValidationSummary1" style="DISPLAY: none; COLOR: red"></div>

<div></div>

</form></body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common/login.js"></script>

</html>