<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>测试123</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="public/template/js/grid/CreateControl.js" type="text/javascript"></script>
    <style type="text/css">
        html,body {
            margin:0;
            height:100%;
        }
    </style>
</head>
<body style="margin:0">
<script type="text/javascript"> 
    //用查询显示控件展现报表，从URL“../grf/1a.grf”获取报表膜板定义，从URL“../data/xmlCustomer.php”获取XML形式的报表数据，
	CreateDesignerEx("100%", "100%", "public/template/grf/123.grf", "public/template/grfUtils/General/DesignReportSave.php?report=123.grf", true, "");
	//CreateDisplayViewerEx("100%", "100%", "../grf/1a.grf", "", true, "");
</script>
</body>
</html>