<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>财务审核</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span id="pagehidden" page="" psize="">位置：</span>
    <ul class="placeul">
    <li><a href="#">财务管理</a></li>
    <li><a href="#">财务审核</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    <input id="inquireSign" type="hidden" value="0" />
    <div class="formtitle"><span>财务审核</span></div>
    
    <ul class="forminfo">
    <li>
		订&nbsp;单&nbsp;号&nbsp;：<input id="shddid" name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		客户ID：<input id="shkhid" name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		<!-- 客户等级：<input  type="text" class="dfinput" /> -->
		审核:
		<select class="dfinput" style="width:100px">
		<option>--</option>
			{{foreach from=$OrderAuditStatusOptions key=value item=name}}
			<option  name="shzt" checked="checked" value="{{$name}}">{{$name}}</option>
			{{/foreach}}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		分组：
		<select class="dfinput" style="width:100px">
		<option>--</option>
		{{foreach from=$GroupsTypeOptions key=value item=name}}
		<option  name="shszz" checked="checked" value="{{$name}}">{{$name}}</option>
		{{/foreach}}
		</select>
		</li>
		<li>
		下单时间：<input id="shsjq" name="" type="text" class="dfinput" style="width:100px" onClick="WdatePicker()" value="{{$defaultStartTime}}" />
		到&nbsp;<input id="shsjz" name="" type="text" class="dfinput" style="width:100px" onClick="getShsjEnd()" value="{{$defaultCurrentTime}}"/>
		&nbsp;&nbsp;<input id="AuditQuery" name="" type="button" class="btn" value="查询"/>
		&nbsp;&nbsp;刷新时间：<font id="refurbishTime" color="#FF0000">不刷新</font>
		<input name="" type="button" class="btn" id="60" onclick="refurbish(60)" value="60秒"/>
		<input name="" type="button" class="btn" id="120" onclick="refurbish(120)" value="120秒"/>
		<input name="" type="button" class="btn" id="180" onclick="refurbish(180)" value="180秒"/>
		<input name="" type="button" class="btn" id="0" style="color:#000000; background:#999999" onclick="refurbish(0)" value="不刷新"/>
	</li>
  	<table class="imgtable" id="table5">
    
		<thead>
			<tr>
				<th width="9%"></th>
				<th width="9%" onclick="changeStr('ddh')"><font id="ddh">订单号</font></th>
				<th width="9%" onclick="changeStr('khid')"><font id="khid">客户ID</font></th>
				<th width="12%" onclick="changeStr('name')"><font id="name">客户姓名</font></th>
				<th width="9%" onclick="changeStr('zffs')"><font id="zffs">支付方式</font></th>
				<th width="9%" onclick="changeStr('zje')"><font id="zje">总金额</font></th>
				<th width="9%" onclick="changeStr('ysje')"><font id="ysje">已收金额</font></th>
				<th width="9%" onclick="changeStr('xdsj')"><font id="xdsj">下单时间</font></th>
				<th onclick="changeStr('zt')"><font id="zt">状态</font></th>
				<th width="9%" onclick="changeStr('xsgh')"><font id="xsgh">销售工号</font></th>
				<th width="9%">操作</th>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">

		</tbody>
		<tfoot id="tfoot">
			<tr>
			<td colspan="11" class="page rightLine"></td>
			<!-- <td colspan="2"></td> -->
			</tr>
		</tfoot>
    </table>
    <li style="padding-top:3px;">
		<input type="checkbox" id="checkall"/>全选&nbsp;&nbsp;
		<input id="batchArragin" name="" type="button" class="btn" value="批量审核"/>&nbsp;&nbsp;&nbsp;<input id="exportExcel" name="" type="button" class="btn-excel" value="导出到Excel"/>	
    </li>
    </ul>
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>
<script type="text/javascript" src="public/template/js/cwgl/cwsh_cw.js"></script>

<script type="text/javascript">
/*	function setShsjBegin(){
		$("#shsjq").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 00:00:00");
	}*/
	function getShsjEnd(){
		var begindate = $("#shsjq").val();
		WdatePicker({minDate:begindate});
	}
	/*function setShsjEnd(){
		$("#shsjz").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 23:59:59");
	}*/

</script>
</html>
