<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>供应商应付报表</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">财务管理</a></li>
    <li><a href="#">供应商应付报表</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>供应商应付报表</span></div>
    
    <ul class="forminfo">
    <li>
		<select class="dfinput" style="width:100px">
			<option>统计时间</option>
		</select>
		供应商ID：<input name="" type="text" class="dfinput" style="width:100px" />
		<input name="" type="button" class="btn" value="查询"/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="上个月"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="当前月"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="下个月"/>
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th colspan="10">xxxx年xx月应付报表</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>供应商名称（全称）</th>
				<th>上期余额</th>
				<th>进货金额</th>
				<th>付款金额</th>
				<th>退货金额</th>
				<th>进货运费</th>
				<th>付款运费</th>
				<th>退货运费</th>
				<th>余额</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td colspan="10" style="text-align:center">
					总计<font color="#FF0000">0</font>
					条记录
					第<font color="#FF0000">0</font>
					/<font>0</font>页
					首页
					上一页
					下一页
					尾页
					<select class="dfinput" style="width:100px">
						<option>1</option>
					</select>
					<input name="" type="button" class="btn-excel" value="导出Excel"/>
				</td>
			</tr>
		</tbody>
    
    </table>
    </ul>
    
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
