<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>每月盘点报表</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">财务管理</a></li>
    <li><a href="#">每月盘点报表</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>每月盘点报表</span></div>
    
    <ul class="forminfo">
    <li>
    分类：
		<select class="dfinput" style="width:100px">
			<option>请选择</option>
			<option>丰胸</option>
			<option>支出记录</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		款号：<input name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		盘点日期：<input name="" type="text" class="dfinput" style="width:100px" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		<select class="dfinput" style="width:100px">
			<option>盘点筛选</option>
		</select>
		&nbsp;
		<input name="" type="button" class="btn" value="查询"/>
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th colspan="9">盘点报表</th>
			</tr>
			<tr>
				<th>款号</th>
				<th width="40%">产品名称</th>
				<th>结成（正）</th>
				<th>结成（次）</th>
				<th>盘点</th>
				<th>盘差</th>
				<th>单价</th>
				<th>总金额</th>
				<th>盘点日期</th>
			</tr>
		</thead>
		
		<tbody>
			
		</tbody>
    
    </table>
	<li></li>
	<li>
		每月盘点总计：库存(正)合计：<font></font>
		 | 库存(次)合计： <font></font>
		 | 盘点合计： <font></font>
		 | 盘差合计：<font>0</font> 
		 | 盘点前总金额合计: <font></font>
		 | 盘点后总金额合计: <font></font>
	</li>
    </ul>
    
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
