<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加供应商往来明细记录</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">财务管理</a></li>
    <li><a href="#">添加供应商往来明细记录</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>添加供应商往来明细记录</span></div>
    
    <ul class="forminfo">
    <li>
		供应商：<input name="" type="text" class="dfinput" style="width:200px" />（输入供应商关键字）
	</li>
    <li>
		往来类型：<input name="" type="radio" />进货金额
		<input name="" type="radio" />出去金额
	</li>
    <li>
		金额：<input name="" type="text" class="dfinput" />
	</li>
	<li>
		运费：<input name="" type="text" class="dfinput" />
	</li>
		备注：
		<textarea name="" cols="" rows="" class="textinput"></textarea>
	</li>
	<li></li>
    <li><input name="" type="button" class="btn" value="保存资料"/>&nbsp;&nbsp;&nbsp;
	<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="取消" onclick="history.go(-1);" /></li>
    </ul>
    
    
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
