<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工号客户数统计报表</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">分类报表</a></li>
    <li><a href="#">工号客户数统计报表</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>工号客户数统计报表</span></div>
    
    <ul class="forminfo">
    <li>
    分组：
		<select id="dept" class="dfinput" style="width:100px">
			<option value="">--</option>
			{{foreach from=$dept key=value item=name}}
			<option value="{{$name.depttext}}">{{$name.depttext}}</option>
			{{/foreach}}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		等级：
		<select id="level" class="dfinput" style="width:100px">
			<option value="">--</option>
			{{foreach from=$level key=value item=name}}
			<option value="{{$name}}">{{$name}}</option>
			{{/foreach}}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		意向：
		<select id="khyx" class="dfinput" style="width:100px">
			<option value="">--</option>
			{{foreach from=$yxlist key=value item=name}}
			<option value="{{$name.valuetype1}}">{{$name.valuetype1}}</option>
			{{/foreach}}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		来源：
		<select id="media" class="dfinput" style="width:100px">
			<option value="">--</option>
			{{foreach from=$media key=value item=name}}
			<option value="{{$name.mediatext}}">{{$name.mediatext}}</option>
			{{/foreach}}
		</select>
		<input name="" type="button" class="btn" onclick="getGhkhstjbb()" value="查询"/>
	</li>
	<li> </li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th width="25%">工号</th>
				<th width="25%">姓名</th>
				<th width="25%">客户总数</th>
				<th width="25%">比例</th>
			</tr>
		</thead>
		
		<tbody id="ghkhstjbb">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>
    <li style="margin-top:3px;">
    	<input id="exportExcel" name="" type="button" class="btn-excel" value="导出到Excel"/>
    </li>
    </ul>
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script type="text/javascript" src="public/template/js/flbb/ghkhstjbb.js"></script>
</html>
