<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>进线方式分析报表</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">分类报表</a></li>
    <li><a href="#">进线方式分析报表</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>进线方式分析报表</span></div>
    
    <ul class="forminfo">
    <li>
    	<input id="today" type="button" onclick="selectDay('today')" class="btn" value="今日"/>
		<input id="yesterday" type="button" onclick="selectDay('yesterday')" class="btn" value="昨日"/>
		<input id="seven" type="button" onclick="selectDay('seven')" class="btn" value="最近7天"/>
		<input id="thirty" type="button" onclick="selectDay('thirty')" class="btn" value="最近30天"/>
		<input id="month" type="button" onclick="selectDay('month')" class="btn" value="本月"/>
    </li> 
    <li>
	    <div id="todayDiv" style="display:block">
	    	<input id="lastDay" type="button" onclick="changeDay('lastDay')" class="btn" value="前一天"/>
			<input id="nextDay" type="button" onclick="changeDay('nextDay')" disabled="disabled" style="background:#999999" class="btn" value="后一天"/>
	    </div>
	    <div id="sevenDiv" style="display:none">
	    	<input id="lastSeven" type="button" onclick="changeDay('lastSeven')" class="btn" value="前7天"/>
			<input id="nextSeven" type="button" onclick="changeDay('nextSeven')" disabled="disabled" class="btn" value="后7天"/>
	    </div>
	    <div id="thirtyDiv" style="display:none">
	    	<input id="lastThirty" type="button" onclick="changeDay('lastThirty')" class="btn" value="前30天"/>
			<input id="nextThirty" type="button" onclick="changeDay('nextThirty')" disabled="disabled" class="btn" value="后30天"/>
	    </div>
	    <div id="monthDiv" style="display:none">
	    	<input id="lastMonth" type="button" onclick="changeDay('lastMonth')" class="btn" value="上个月"/>
			<input id="nextMonth" type="button" onclick="changeDay('nextMonth')" disabled="disabled" class="btn" value="下个月"/>
	    </div>
    </li>  
    <li>	
		<input type="hidden" id="hiddenBeginDate" />
    	<input type="hidden" id="hiddenEndDate" />
    	开始时间：<input id="xdsjq" name="" type="text" class="dfinput" style="width:140px" onClick="WdatePicker()"/>
		至&nbsp;<input id="xdsjz" name="" type="text" class="dfinput" style="width:140px" onClick="getXdsjEnd()"/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		分组:
		<select id="dept" class="dfinput" style="width:100px">
			<option value="">--</option>
			{{foreach from=$dept key=value item=name}}
			<option value="{{$name.depttext}}">{{$name.depttext}}</option>
			{{/foreach}}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		来源:
		<select id="media" class="dfinput" style="width:100px">
			<option value="">--</option>
			{{foreach from=$media key=value item=name}}
			<option value="{{$name.mediatext}}">{{$name.mediatext}}</option>
			{{/foreach}}
		</select>
        &nbsp;
		<input name="" onclick="getJxfstjbb()" type="button" class="btn" value="查询"/>
		
	</li>
	<li>
		<input type="hidden" id="type" />
		<input id="ope" type="button" onclick="changeType('ope')" class="btn" value="以操作时间统计"/>
		<input id="xd" type="button" onclick="changeType('xd')" class="btn" value="以下单时间统计"/>
	</li>
	<li>
		<font style="color:#999999">说明：<br/>
1.以操作时间统计是指发货数以发货时间，签收数以签收时间，退货数以退货时间统计；以下单时间统计是指发货，签收，退货都以下单时间统计，而不管何时签收退货。<br/>
2.这里统计的数量是产品件数，而不是订单数量，签收数排除了退换货数量。</font>
	</li>
	<li>
		<font style="color:#0000FF">如需查看报表，请先<a href='http://localhost/ccs/template/Grid++Report6.zip' style="color:#FF0000">下载锐浪报表插件</a> </font>
	</li>
	<li> </li>
  	<li>
		<table class="imgtable">
	    
			<thead>
				<tr>
					<th width="8%"> </th>
					<th width="">客户</th>
					<th width="14%">下单/金额</th>
					<th width="14%">确认/金额</th>
					<th width="14%">发货/金额</th>
					<th width="14%">签收/金额</th>
					<th width="14%">拒收/金额</th>
					<th width="8%">报表查询</th>
				</tr>
			</thead>
			
			<tbody id="jxfstjbb">
				
			</tbody>
			<tfoot id="tfoot">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
	    	<input id="url" type="hidden" value=""/>
	    </table>
	</li>
	<li> </li>
    </ul>
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/flbb/jxfstjbb.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>
<script type="text/javascript">
	function getXdsjEnd(){
		var begindate = $("#xdsjq").val();
		WdatePicker({minDate:begindate});
	}
</script>
</html>
