<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>通话质检明细表</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">分类报表</a></li>
    <li><a href="#">通话质检明细表</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>通话质检明细表</span></div>
    
    <ul class="forminfo">
    <li>
    	<a href="index.php?r=flbb/KhpjtjHtml"><input name="" type="button" class="btn" value="客户评价统计"/></a>
		<a href="index.php?r=flbb/GetKhpjrzHtml"><input name="" type="button" class="btn" value="客户评价日志"/></a>
		<a href="index.php?r=flbb/GetThzjmxbHtml"><input name="" type="button" class="btn" style="width:140px" value="通话质检明细表"/></a>
		<a href="index.php?r=flbb/GetThzjtjbHtml"><input name="" type="button" class="btn" style="color:#000000; background:#999999;width:140px" value="通话质检统计表"/></a>
    </li>
    <li>	
    	部门：
		<select id="" class="dfinput" style="width:100px">
			<option value="">请选择</option>
		</select>
		质检时间：<input id="cjsjq" name="" type="text" class="dfinput" style="width:140px" onClick="WdatePicker({onpicked:setCjsjBegin})"/>
		到<input id="cjsjz" name="" type="text" class="dfinput" style="width:140px" onClick="getCjsjEnd()"/>
		<input id="" name="" type="text" class="dfinput" style="width:140px"/>条/页
	</li>
	<li>
		座席：
		<select id="" class="dfinput" style="width:100px">
			<option value="">请选择</option>
		</select>
		通话时间：<input id="cjsjq" name="" type="text" class="dfinput" style="width:140px" onClick="WdatePicker({onpicked:setCjsjBegin})"/>
		到<input id="cjsjz" name="" type="text" class="dfinput" style="width:140px" onClick="getCjsjEnd()"/>

		<input name="" type="button" class="btn" value="搜索"/>
		<input name="" type="button" class="btn-excel" value="导出Excel"/>
	</li>
	<li> </li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th>部门</th>
				<th>座席</th>
				<th>查询周期</th>
				<th>质检数</th>
				<th>通过数</th>
				<th>不通过数</th>
				<th>通过率</th>
				<th>平均评分</th>
				<th>平均扣分</th>
				<th>致命差错数</th>
				<th>普通差错数</th>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>
    </ul>
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>

<script type="text/javascript">
	function setCjsjBegin(){
		$("#cjsjq").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 00:00:00");
	}
	function getCjsjEnd(){
		var begindate = $("#cjsjq").val();
		WdatePicker({minDate:begindate,onpicked:setCjsjEnd});
	}
	function setCjsjEnd(){
		$("#cjsjz").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 23:59:59");
	}

</script>
</html>
