<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>录入盘点数量</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">物流管理</a></li>
    <li><a href="#">库存盘点</a></li>
	<li><a href="#">录入盘点数量</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>录入盘点数量</span></div>
    
    <ul class="forminfo">
	<li>
		<a href="index.php?r=wlgl/GetScpddhHtml"><input name="" type="button" class="btn" value="生成盘点单号"/></a>
		<a href="index.php?r=wlgl/GetPddhlbHtml"><input name="" type="button" class="btn" value="盘点明细"/></a>
		<a href="index.php?r=wlgl/GetLrpdslHtml"><input name="" type="button" class="btn" style="color:#000000; background:#999999" value="录入盘点数量"/></a>
		<a href="index.php?r=wlgl/GetScpcbbHtml"><input name="" type="button" class="btn" value="生成盘差报表"/></a>
	</li>
	<li id="tips">
	
	</li>
	<li>
		<font color="#0000FF">
			盘点流程：1.生成盘点单号   2.导出盘点明细  3.录入盘点数量  4.生成盘差报表  5.入账(盘盈/盘亏)
		</font>
		<font color="#FF0000">
			[注：必须完成整个盘点流程才能生成新的盘点单号]
		</font>
	</li>
	<li>
		<table class="imgtable">
    
			<thead>
				<tr>
					<th width="5%">批次</th>
					<th width="1%">款号</th>
					<th width="12%">产品名</th>
					<th width="5%">盘点量</th>
					<th>属性</th>
				</tr>
			</thead>
			
			<tbody id="tbody1">
				<tr style="height:30px;line-height:30px;" class="goodline">
					<td>
						<input name="" type="text" class="dfinput batch" style="width:100px" value="" />
					</td>
					<td>
						<input name="" type="text" class="dfinput styleNum" style="width:70px" value="" />
					</td>
					<td>
						<input name="" type="text" class="dfinput goodName" style="width:200px" value="" />
						<div class="goodList" style="display:none;background-color:#D3D3D3;position:absolute;overflow:auto;width:240px;height:342px;">
						<table style="width:240px;" class="table5">
							<tr>
								<td class="closeGoodList" style="cursor:pointer;">关闭</td>
							</tr>
						</table> 
						</div>
					</td>
					<td>
						<input name="" type="text" class="dfinput inventoryNum" style="width:50px" value="" />
					</td>
					<td></td>
				</tr>
				
			</tbody>
			
		</table>
	
	</li>
	<li><input id="addGoodsLine" name="" type="button" class="btn" style="color:#000000; background:#999999" value="增加产品行"/></li>
	<li>
		<input id="addGood" name="" type="button" class="btn" value="提交保存"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" onclick="history.go(-1)" value="返回"/>
	</li>
   
    </ul>
    
    
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/wlgl/kcpd_drpdsl_wl.js"></script>
</html>
