<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>库存盘点记录</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span id="pagehidden" page="" psize="">位置：</span>
    <ul class="placeul">
    <li><a href="#">物流管理</a></li>
    <li><a href="#">库存盘点记录</a></li>
    </ul>
    </div>
    
<div class="formbody">
     <input id="inquireSign" type="hidden" value="0" />
    <div class="formtitle"><span>库存盘点记录</span></div>
    
    <ul class="forminfo">
   
	<li>
		名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：<input id="cpmc" name="" type="text" class="dfinput" style="width:100px" value="" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		款&nbsp;&nbsp;&nbsp;&nbsp;号：<input id="cpkh" name="" type="text" class="dfinput" style="width:100px" value="" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		盘点时间：<input id="pdsjq" name="" type="text" class="dfinput" style="width:100px" onClick="WdatePicker()" value="{{$defaultStartTime}}" />
		到&nbsp;<input id="pdsjz" name="" type="text" class="dfinput" style="width:100px" onClick="getPdsjEnd()" value="{{$defaultCurrentTime}}"/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		</li>
		<li>
		产品分类：
		<select id="cpfl" class="dfinput" onchange="getCpzfl()" style="width:100px">
			<option value="">--</option>
			{{foreach from=$cpfl key=value item=name}}
			<option name="" value="{{$name.cpab01}}">{{$name.cpab02}}</option>
			{{/foreach}}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		操作人：<input id="pdczr" name="" type="text" class="dfinput" style="width:100px" value="" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		条&nbsp;形&nbsp;码：<input id="pdtxm" name="" type="text" class="dfinput" style="width:100px" value="" />
		&nbsp;&nbsp;<input id="RecordQuery" name="" type="button" class="btn" value="查询"/>
	</li>
	<li></li>
	<table class="imgtable">
    
		<thead>
			<tr>
				<th colspan="10" style="text-align:center">库存盘点流水记录</th>
				
			</tr>
			<tr>
				<th>盘点单号</th>
				<th>款号</th>
				<th>货号</th>
				<th>产品名</th>
				<th>属性</th>
				<th>盘点库存</th>
				<th>价格</th>
				<th>总金额</th>
				<th>操作人员</th>
				<th>盘点日期</th>
			</tr>
		</thead>
		<tbody id="getCheckeboxId">

		</tbody>
		<tfoot>
			<tr>
				<td colspan="10" class="page"></td>
				<td></td>
			</tr>				
		</tfoot>
		<input id="url" type="hidden" value=""/>
    </table>
	<li style="padding-top:3px;">
		<input id="exportExcel" name="" type="button" class="btn-excel" value="导出Excel"/>
	</li>
   
    </ul>
    
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script type="text/javascript" src="public/template/js/wlgl/kcpdjl_wl.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>

<script type="text/javascript">
	/*function setXdsjBegin(){
		$("#xdsjq").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 00:00:00");
	}*/
	function getPdsjEnd(){
		var begindate = $("#pdsjq").val();
		WdatePicker({minDate:begindate});
	}
	/*function setXdsjEnd(){
		$("#xdsjz").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 23:59:59");
	}*/

</script>
</html>
