<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>初始化盘点</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">物流管理</a></li>
    <li><a href="#">库存盘点</a></li>
	<li><a href="#">初始化盘点</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>初始化盘点</span></div>
    
    <ul class="forminfo">
	<li>
		<a href="index.php?r=wlgl/GetScpddhHtml"><input name="" type="button" class="btn" value="生成盘点单号"/></a>
		<a href="index.php?r=wlgl/GetPddhlbHtml"><input name="" type="button" class="btn" value="盘点明细"/></a>
		<a href="index.php?r=wlgl/GetLrpdslHtml"><input name="" type="button" class="btn" value="录入盘点数量"/></a>
		<a href="index.php?r=wlgl/GetScpcbbHtml"><input name="" type="button" class="btn" value="生成盘差报表"/></a>
	</li>
	<li>
		<font color="#0000FF">
			盘点流程：1.初始化盘点清空库存   2.重新录入库存数据（可以选择手动、扫描、导入等任何一种方式）  3.生成盘差报表。
		</font>
	</li>
	<li>
		选择要清空的库存（盘点前请先清空对应库存，再重新录入）
	</li>
	<li>
		<input type="checkbox" /><font color="#FF0000">所有库存</font>
	</li>
	<li>
		<input type="checkbox" />丰胸库存
	</li>
	<li>
		<input type="checkbox" />减肥库存
	</li>
	<li>
		<input type="checkbox" />美容库存
	</li>
	<li>
		<input type="checkbox" />保健库存
	</li>
	<li>
		<input type="checkbox" />增高库存
	</li>
	<li>
		<input type="checkbox" />其他库存
	</li>
	<li>
		<input type="checkbox" />加强骨骼营养库存
	</li>
	<li>
		<input type="checkbox" />调节血糖库存
	</li>
	<li>
		<input type="checkbox" />调节肠胃库存
	</li>
	<li>
		<input type="checkbox" />单个款号库存  <input type="text" class="dfinput" />
	</li>
	
	
	<li>
		<input name="" type="button" class="btn" value="开始清空"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="返回"/>
	</li>
   
    </ul>
    
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
