<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退货款号明细</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">物流管理</a></li>
    <li><a href="#">退货款号明细</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>退货款号明细</span></div>
    
    <ul class="forminfo">
    <li>
		<a href="thddjl.html"><input name="" type="button" class="btn" value="退货订单记录"/></a>
		<a href="thkhhz.html"><input name="" type="button" class="btn" value="退货款号汇总"/></a>
		<a href="thrc.html"><input name="" type="button" class="btn" value="退货入仓"/></a>
	</li>
	<li>
		名称：<input name="" type="text" class="dfinput" style="width:100px" value="" />
		款号：<input name="" type="text" class="dfinput" style="width:100px" value="" />
		支付方式：
		<select class="dfinput" style="width:100px">
			<option>请选择</option>
		</select>
		入仓时间：<input name="" type="text" class="dfinput" style="width:100px" />
		到<input name="" type="text" class="dfinput" style="width:100px"  />
		
	</li>
	<li>
	显示类型：
		<input type="radio" />汇总
		<input type="radio" />明细
		订单号：<input name="" type="text" class="dfinput" style="width:100px" value="" />
		供应商ID：<input name="" type="text" class="dfinput" style="width:100px" value="" />
		<select class="dfinput" style="width:100px">
			<option>快递公司</option>
		</select>
		<select class="dfinput" style="width:100px">
			<option>所有组</option>
		</select>
		<input name="" type="button" class="btn" value="查询"/>
	</li>
	<li></li>
	<table class="imgtable">
    
		<thead>
			<tr>
				<th>订单号</th>
				<th>款号</th>
				<th>产品名</th>
				<th>入库数</th>
				<th>总额</th>
				<th>成本</th>
				<th>入库时间</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td>asfasdfasdfasd</td>
			</tr>
			<tr>
				<th colspan="7" style="border-bottom: 0px; text-align:center">
					暂时没有记录
					<input name="" type="button" class="btn-excel" value="导出到Excel"/>
					全部总金额：
				</th>
			</tr>
		</tbody>
    
    </table>
	<li></li>
   
    </ul>
    
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
</html>
