<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>物流发货订单详情</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span id="pagehidden" page="" psize="">位置：</span>
    <ul class="placeul">
    <li><a href="#">物流管理</a></li>
    <li><a href="#">物流发货订单详情</a></li>
    </ul>
    </div>
    <input id="historyPages" type="hidden" page="{{$page}}" psize="{{$psize}}"/>
    <div class="formbody">
 
    <div class="formtitle" id="ddxx"><span>物流发货订单详情</span></div>
    
    <ul class="forminfo" id="ddxxxx">
		<table class="imgtable">
			<tr>
				<th colspan="8">发货订单详情</th>
			</tr>
			<input id="ordernum" type="hidden" value="{{$orderno.xsaa01}}"/>
			<input id="clientno" type="hidden" value="{{$orderno.xsaa04}}"/>
			<tr>
				<td style="text-align:right">	
					订单编号：
				</td>
				<td style="text-align:left">	
					<font id="orderno">{{$orderno.xsaa02}}</font>
				</td>
				<td style="text-align:right">	
					下单时间：
				</td>
				<td style="text-align:left">	
					<font>{{$orderno.xsaa23}}</font>
				</td>
				<td style="text-align:right">	
					订单状态：
				</td>
				<td style="text-align:left">	
					<font>{{$orderno.xsaa29}}</font>
				</td>
				<td style="text-align:right">	
					重量：
				</td>
				<td style="text-align:left">	
					<input name="" type="text" class="dfinput" style="width:100px;" value="" />
					<input name="" type="button" class="btn" value="保存"/>
				</td>
			</tr>
			<tr>
				<td style="text-align:right">	
					订单金额：
				</td>
				<td style="text-align:left">	
					<font>{{$orderno.xsaa19}}</font>
				</td>
				<td style="text-align:right">	
					订单运费：
				</td>
				<td style="text-align:left">	
					<font>{{$orderno.xsaa16}}</font>
				</td>
				<td style="text-align:right">	
					快递公司：
				</td>
				<td style="text-align:left">	
					<select class="dfinput" style="width:100px">
						<option value="">--</option>
					    {{foreach from=$DeliveryCompanyOptions key=value item=name}}
					    <option name="ddkdgs" checked="checked" value="{{$name}}" {{if ($orderno.xsaa41 == $name) }}selected{{/if}}>{{$name}}</option>
			     		{{/foreach}}
					</select>
					<input name="" type="button" class="btn" value="保存"/>
				</td>
				<td style="text-align:right">	
					快递单号：
				</td>
				<td style="text-align:left">	
					<input name="" type="text" class="dfinput" style="width:100px;" value="" />
					<input name="" type="button" class="btn" value="保存"/>
				</td>
			</tr>
			<tr>
				<td style="text-align:right">	
					代收金额：
				</td>
				<td style="text-align:left">	
					<font id="orderno">{{$orderno.xsaa21}}</font>
				</td>
				<td style="text-align:right">	
					支付方式：
				</td>
				<td style="text-align:left">	
					<font>{{$orderno.xsaa13}}</font>
				</td>
				<td style="text-align:right">	
					销售工号：
				</td>
				<td style="text-align:left">	
					<font>{{$orderno.xsaa48}}</font>
				</td>
				<td style="text-align:right">	
					仓库：
				</td>
				<td style="text-align:left">	
					<font></font>
				</td>
			</tr>
			<tr>
				<td style="text-align:right">
					订单备注：
				</td>
				<td colspan="3" style="text-align:left">
					<font>{{$orderno.xsaa36}}</font>
				</td>
				<td style="text-align:right">
					收货地址：
				</td>
				<td colspan="3" style="text-align:left">
					<font>{{$orderno.province}},{{$orderno.city}},{{$orderno.area}}</font>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<font>手机：{{$mobile}}</font>&nbsp;&nbsp;
					<font>姓名：{{$orderno.xsaa05}}</font>
				</td>
			</tr>
		</table>
		<li></li>
		
		<table class="imgtable">
		
			<thead>
				<tr>
					<th>款号</th>
					<th width="40%">商品名称</th>
					<th>价格（元）</th>
					<th>原价（元）</th>
					<th>数量</th>
					<th>库存</th>
					<th>库位</th>
				</tr>
			</thead>
			
			<tbody id="tbody5">
				<tr id="barcode">
					<td colspan="7">
						条码：<input name="" type="text" class="dfinput" style="width:600px;" value="" />
					</td>
				</tr>
				<tr>
					<th><font color="#FF0000">无发票</font></th>
					<th colspan="7">
						<input type="checkbox" />发货同时发送短信
						<input id="shipped" name="" type="button" class="btn" value="发货"/>
						<input id="showBackToUnconfirmed" name="" type="button" class="btn" value="打回修改"/>
						<input name="" type="button" class="btn" value="打印出货单"/>
						<input name="" type="button" class="btn" value="打印快递单"/>
						<input name="" type="button" class="btn" value="打印热敏单"/>
						<a id="before" {{if $orderno.minorder == $orderno.xsaa01}}style="display:none;"{{/if}} href="index.php?r=wlgl/OrderDetails&orderno={{$orderno.xsaa02}}&ordernum={{$orderno.xsaa01}}&symbol=before"><input name="" type="button" class="btn" value="上一单"/></a>
						<a id="next" {{if $orderno.maxorder == $orderno.xsaa01}}style="display:none;"{{/if}} href="index.php?r=wlgl/OrderDetails&orderno={{$orderno.xsaa02}}&ordernum={{$orderno.xsaa01}}&symbol=next"><input name="" type="button" class="btn" value="下一单"/></a>
					</th>
				</tr>
				<tr id="showBackReason" style="text-align:left;display:none;">
					<td colspan="7">请选择撤回原因：
						<input type="radio" value="1" name="backReason" checked="checked"/>客户原因
						<input type="radio" value="2" name="backReason"/>审单原因
						<input type="radio" value="3" name="backReason"/>仓库原因
						<input type="radio" value="4" name="backReason"/>无货
						<input type="radio" value="5" name="backReason"/>销售原因
						<input id="backToUnconfirmed" name="" type="button" class="btn" value="撤回"/>
					</td>
				</tr>
			</tbody>
		
		</table>
		<!--商品详情弹窗 start-->
		<div class="TCGB TC600 mydetTC" id="goodDetilDiv">
			<div class="TCBox" style="width:500px;">
				<h2><span title="TCtitle">商品详细--网页对话框<a><img id="closeDetail" src="public/template/images/divclose.png" style="cursor:pointer;width:20px;height:20px; position:absolute; left:473px; top:6px;"></a></span></h2>
				<div class="TCBody">
					<!-- <ul class="keyVal">
						
					</ul> -->
					<table>
						<tr>
							<td>商品款号：<font id="spkh"></font> </td>
							<td style="padding-left:180px;">规格：<font id="spgg"></font> </td>
						</tr>
						<tr>
							<td>商品名称：<font id="spmc"></font> </td>
							<td style="padding-left:180px;">销售价：<font id="xsj"></font> </td>
						</tr>
						<tr>
							<td colspan="2">商品图片：<img style="width:150px;height:100px;" id="sptp" src="" alt="" /> </td>
						</tr>
						<tr>
							<td colspan="2">详细描述：<font id="xxms"></font> </td>
						</tr>
						<tr>
							<td colspan="2" style="padding-top:30px;padding-left:165px;"><input id="closeDetail" name="" type="button" class="btn" value="关闭"/></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!--商品详情弹窗 end-->
		
    </ul>
	<!-- 跟进记录start -->
	<div class="formtitle" id="gjjl"><span style="cursor:pointer;">>>隐藏跟进记录</span></div>
		<ul class="forminfo gjjlxx" style="float:left;">
			<li>
				<table id="tableFollow" style="width:1000px;" class="imgtable">
					<thead>
						<tr>
							<th width="3%">编号</th>
							<th width="8%">工号</th>
							<th width="8%">姓名</th>
							<th width="10%">时间</th>
							<th width="20%">备注</th>
							<th width="4%">操作</th>
						</tr>
					</thead>
					<tbody id="tbody2">
					</tbody>
					<tfoot>
			            <tr><td colspan="15" class="page"></td></tr>				
		            </tfoot>
				</table>
				
			</li>
			
		</ul>
		<ul class="gjjlxx" style="float:left;padding-left:10px;">
			<li>内容：</li>
			<li>
				<textarea class="textinput" id="content"></textarea>
			</li>
			<li style="padding-top:4px;">
				<input id="szdbsx" name="" type="checkbox" value=""/>需要设置待办事项
			</li>
			<li class="dbsx" style="display:none;">
				待办时间：
				<input id="dbsj" name="" type="text" class="dfinput" style="width:180px;" value="" onClick="WdatePicker()"/>
			</li>
			<li class="dbsx" style="padding-top:4px;padding-bottom:10px;display:none;">
				跟 进 人 ：
				<select  id="khgsgh" class="dfinput" style="width:100px">
					{{foreach from=$WorkNumberOptions key=value item=name}}
					<option name="khgsgh" {{if $name == $sessioninfo.gonghao}}selected{{/if}} value="{{$name}}">{{$name}}</option>
					{{/foreach}}
				</select>
				分组：
				<select class="dfinput" style="width:100px">
					{{foreach from=$GroupsTypeOptions key=value item=name}}
					<option name="khszz"  value="{{$name}}">{{$name}}</option>
					{{/foreach}}
				</select>
			</li>
			<li>
				<input id="addToDo" name="" type="button" class="btn" value="保存"/>
			</li>
				
		</ul>
	<div style="clear:both;"></div>
	<!-- 跟进记录end -->
	</div>
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/wlgl/wlfhxq_wl.js"></script>
<script type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>
</html>
