<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Web报表(B/S报表)演示 - 为图表定义自定义的绘制颜色</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html,body {
            margin:0;
            height:100%;
        }
    </style>
	<script src="../../js/grid/CreateControl.js" type="text/javascript"></script>
	<script type="text/javascript">
//由三原色值合成颜色整数值
function ColorFromRGB(red, green, blue)
{
    return red + green*256 + blue*256*256;
}

function window_onload() 
{
    var Chart = ReportViewer.Report.ControlByName("Chart1").AsChart;
    
    //自定义图表的填充颜色
    Chart.EmptyFillColors();
	Chart.AddFillColor( ColorFromRGB(64, 64, 255) );
	Chart.AddFillColor( ColorFromRGB(128, 128, 255) );
	Chart.AddFillColor( ColorFromRGB(196, 196, 255) );
	Chart.AddFillColor( ColorFromRGB(64, 64, 64) );
	Chart.AddFillColor( ColorFromRGB(128, 128, 128) );
	Chart.AddFillColor( ColorFromRGB(196, 196, 196) );

    FillDataChart2();
}

function FillDataChart2() 
{
    ReportViewer.Stop();
    
    var Report = ReportViewer.Report;
    var Chart = Report.ControlByName("Chart1").AsChart;
    
    //从网上取数据并转存到xmlDom中，然后载入到图表中
    var xml = Report.ExtractXMLFromURL("../data/xmlYGYJTJBB.php");
    alert(xml);
    Chart.LoadDataFromXML(xml, true, true, true);

    ReportViewer.Start();
}
 	</script>   
</head>
<body style="margin:0" onload="return window_onload()">
    <script type="text/javascript"> 
	    CreatePrintViewerEx("100%", "100%", "../../grf/ygyjbb.grf", "", false, "");
	</script>
</body>
</html>
