<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品品牌</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">产品管理</a></li>
    <li><a href="#">产品品牌</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>产品品牌</span></div>
    
    <ul class="forminfo">
    <li>
		<!-- 品牌ID：<input name="" type="text" class="dfinput" style="width:100px" /> -->
		品牌名称：<input name="cpmc" id="cpmc" type="text" class="dfinput" />
		<input type="button" class="btn" onclick="cpppClick()" value="查询"/>
		<a href="index.php?r=cpgl/GetTjcpppHtml"><input name="" type="button" class="btn" value="添加新品牌"/></a>
		
	</li>
  	<table class="imgtable">
    
		<thead>
			<tr>
				<th colspan="5" style="text-align:center">品牌列表</th>
			</tr>
			<tr>
				<th width="25%">品牌号</th>
				<th>品牌名称</th>
				<th width="20%">操作</th>
			</tr>
		</thead>
		<tbody id="cpppTable">
			<tr></tr>
		</tbody>
    	<tfoot>
    		<tr><td id="page" colspan="3"> </td></tr>
    	</tfoot>
    </table>
    </ul>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/cpgl/cppp_cpgl.js"></script>
</html>
