<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改产品属性分类</title>
<link href="public/template/css/cp_tj.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">产品管理</a></li>
    <li><a href="#">修改产品属性分类</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>修改产品属性分类</span></div>
    <form action="index.php?r=cpgl/UpdateCpsx" method="post" onsubmit="return checkValue()">
    <input type="hidden" name="id" id="id" value="{{$id}}" />
    <input type="hidden" name="parent" id="parent" value="{{$parent}}" />
    <font color="#FF0000">带 * 的为必填项目</font>
    	<table class="imgtable" style="background-color:#FFFFFF">
			<tbody>
				<tr>
					<td style="text-align:right; padding:5px" width="30%">
						<font color="#FF0000" style="font-size:16px">*</font>产品属性名称：
					</td>
					<td style="text-align:left" width="70%">
						<input name="cpsx" id="cpsx" value="{{$cpsx}}" type="text" class="dfinput" style="width:100px" onblur="checkCpsx()" />
					</td>
				</tr>
			</tbody>
	    </table>
	     <ul class="forminfo">
	    
		<li></li>
		 
		 
	    <li><label>&nbsp;</label><input name="" type="button" onclick="updateCpsx()" class="btn" value="提交保存"/>&nbsp;&nbsp;&nbsp;
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="取消" onclick="history.go(-1);"/></li>
	    </ul>
    </form>
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/cpgl/xgcpsxfl.js"></script>
</html>
