<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加任务</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">外呼管理</a></li>
    <li><a href="#">添加任务</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>添加任务</span></div>
    
    <ul class="forminfo">
    <li>	
    	<font color="#FF0000">*</font>任务名称：<input id="" name="" type="text" class="dfinput" style="width:100px" />
		<font id="pwdCheck" color="#797979">20个中文字符以内</font>
	</li>
	<li>
		<font color="#FF0000">*</font>绑定问卷：
        <select id="" class="dfinput" style="width:300px" style="width:100px">
            <option value="">请选择</option>
            <option value="">未回访</option>
            <option value="">已回访</option>
        </select>
	</li>
	<li>
		<input name="" type="button" class="btn" value="保存"/>
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="下一步"/>
	</li>
    </ul>
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>

</html>
