<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>外呼统计</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">外呼管理</a></li>
    <li><a href="#">外呼统计</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>外呼统计</span></div>
    
    <ul class="forminfo">
    <li>
    	<a href="index.php?r=whgl/GetWhbbHtml"><input name="" type="button" class="btn" style="color:#000000; background:#999999" value="外呼统计"/></a>
		<a href="index.php?r=whgl/GetWhmxHtml"><input name="" type="button" class="btn" value="外呼明细"/></a>
		<a href="index.php?r=whgl/GetWjtjHtml"><input name="" type="button" class="btn" value="问卷统计"/></a>
    </li>
    <li>	
    	统计方式：
    	<input type="radio" value="" />按部门统计
    	&nbsp;&nbsp;
		<select id="" class="dfinput" style="width:100px">
			<option value="">请选择</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="" />按座席统计
		&nbsp;&nbsp;&nbsp;&nbsp;
		<select id="" class="dfinput" style="width:100px">
			<option value="">请选择</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="" />按任务统计
		&nbsp;&nbsp;&nbsp;&nbsp;
		<select id="" class="dfinput" style="width:100px">
			<option value="">请选择</option>
		</select>
	</li>
	<li>
		执行时间：<input id="cjsjq" name="" type="text" class="dfinput" style="width:100px" onClick="WdatePicker()" value="{{$defaultStartTime}}"/>
		到&nbsp;<input id="cjsjz" name="" type="text" class="dfinput" style="width:100px" onClick="getCjsjEnd()" value="{{$defaultCurrentTime}}"/>
		&nbsp;&nbsp;<input name="" type="button" class="btn" value="搜索"/>
		&nbsp;&nbsp;<input name="" type="button" class="btn" value="导出"/>
		&nbsp;&nbsp;<input name="" type="button" class="btn" onclick="test()" value="测试"/>
	</li>
	<table class="imgtable" id="zxtable">
    
		<thead>
			<tr>
				<th>座席</th>
				<th>号码总量</th>
				<th>呼出</th>
				<th>接通</th>
				<th>接听率</th>
				<th>通话时长</th>
				<th>通话均长</th>
				<th>有效问卷</th>
				<th>有效率</th>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>

  	<table class="imgtable" id="bmtable">
    
		<thead>
			<tr>
				<th>部门</th>
				<th>号码总量</th>
				<th>呼出</th>
				<th>接通</th>
				<th>接听率</th>
				<th>通话时长</th>
				<th>通话均长</th>
				<th>有效问卷</th>
				<th>有效率</th>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>

    <table class="imgtable" id="rwtable">
    
		<thead>
			<tr>
				<th>任务名称</th>
				<th>执行座席</th>
				<th>号码总量</th>
				<th>已执行</th>
				<th>完成率</th>
				<th>成功呼叫</th>
				<th>失败呼叫</th>
				<th>成功呼叫率</th>
				<th>有效问卷</th>
				<th>有效率</th>
			</tr>
		</thead>
		
		<tbody id="getCheckeboxId">
		</tbody>
		<tfoot id="tfoot">
			<tr>
		
			</tr>
		</tfoot>
    	<input id="url" type="hidden" value=""/>
    </table>
    </ul>
    </div>

</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common.js"></script>
<script type="text/javascript" src="public/template/js/whgl/whbb.js"></script>
<script language="javascript" type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>

<script type="text/javascript">
	// function setCjsjBegin(){
	// 	$("#cjsjq").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 00:00:00");
	// }
	function getCjsjEnd(){
		var begindate = $("#cjsjq").val();
		WdatePicker({minDate:begindate});
	}
	/*function setCjsjEnd(){
		$("#cjsjz").val($dp.cal.getP('y')+"-"+$dp.cal.getP('M')+"-"+$dp.cal.getP('d')+" 23:59:59");
	}*/

</script>
</html>
