<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>采购单修改</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">采购管理</a></li>
    <li><a href="#">采购单修改</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>采购单修改</span></div>
    
    <ul class="forminfo">
    <li>
      <input type="hidden" id="id" value="{{$id}}" />
       <input type="hidden" id="gysid" value="{{$gys}}" />
		供应商：
		<select class="dfinput" id="gys" style="width:200px">
           {{foreach from=$SuppliersOptions key=value item=name}}
           <option name="" checked="checked" value="{{$name.cgab01}}:{{$name.cgab02}}">{{$name.cgab02}}</option>
           {{/foreach}}
		</select>
	</li>
  <li>
    预计到货时间：<input id="dhsj" value="{{$dhsj}}" name="" onClick="WdatePicker()" type="text" class="dfinput" style="width:150px" />
  </li>
  <li>
    邮费：<input id="cgyf" value="{{$yf}}" name="" type="text" class="dfinput" style="width:150px" />
  </li>
  	<li>
		<input id="Preservation" name="" onclick="updateCgd()" type="button" class="btn" value="提交保存"/>&nbsp;&nbsp;&nbsp;
		<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="返回" onclick="history.go(-1);"/>
	</li>
    </ul>
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script> 
<script type="text/javascript" src="public/template/js/calendar/WdatePicker.js"></script>
<script type="text/javascript" src="public/template/js/cggl/cgdxg.js"></script>

</html>