<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>下采购单</title>
<link href="public/template/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">采购管理</a></li>
    <li><a href="#">下采购单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>下采购单</span></div>
    
    <ul class="forminfo">
    <input type="hidden" id="goodids" value="" />
  	<table class="imgtable">
		<thead>
			<tr>
				<th width="7%"> </th>
				<th width="7%">款号</th>
				<th width="13%">产品名</th>
				<th width="8%">厂家货号</th>
				<th width="8%">进货价</th>
				<th width="8%">采购量</th>
			</tr>
		</thead>
		<input type="hidden" name="id" id="ids" />
		<input type="hidden" name="str" id="str" />
		<input type="hidden" id="number" value="1" />
			<tbody id="xcgdTable">
			<tr>
				<td><img src="public/img/del.png"  border="0" style="width:7%;cursor:pointer" title="删除该行" class="delgoodline"/></td>
				<td>
					<input id="cgkh_1" name="cgkh" value="{{$cpkh}}" type="text" class="dfinput" onblur="checkAndGetCp(1)" style="width:90px" />
				</td>
				<td>
					<input id="cgmc_1" name="cgmc" value="{{$cpmc}}" type="text" class="dfinput" onfocus="getAllCpList(1)" onkeyup="getCpList(1)" style="width:200px" />
					<div class="goodList_1" style="display:none;background-color:#D3D3D3;position:absolute;overflow:auto;width:260px;height:342px;">
						<table style="width:260px;" class="table5_1">
							<tr>
								<td class="closeGoodList" style="cursor:pointer;">关闭</td>
							</tr>
						</table> 
					</div>
				</td>
				<td>
					<input id="cghh_1" name="cghh" value="{{$cjhh}}" type="text" readonly="" class="dfinput" style="width:100px" />
				</td>
				<td>
					<input id="cgjhj_1" name="cgjhj" type="text" class="dfinput" style="width:100px" />
				</td>
				<td>
					<input id="cgsl_1" name="cgsl" type="text" class="dfinput" style="width:100px" />
				</td>
				<!-- <td id="sx_1" style="text-align:left">
					
				</td> -->
			</tr>
		</tbody>
    
	    </table>
	    </ul>
		<ul class="forminfo">
		<li></li>
	    	<li>
				<input name="" onclick="addTable()" type="button" class="btn" style="width:140px;color:#000000; background:#999999" value="增加商品行"/>
				&nbsp;&nbsp;&nbsp;&nbsp;
				供应商：
				<select class="dfinput" name="gys" id="gys" style="width:140px">
					<option value="">---</option>
				    {{foreach from=$SuppliersOptions key=value item=name}}
				    <option name="" checked="checked" value="{{$name.cgab01}}:{{$name.cgab02}}">{{$name.cgab02}}</option>
				    {{/foreach}}
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;
				预计到货时间：<input id="dhsj" name="dhsj" onClick="getDhsj()" name="" type="text" class="dfinput" style="width:100px" />
				&nbsp;&nbsp;&nbsp;&nbsp;
				运费：<input id="cgyf" name="cgyf" type="text" class="dfinput" style="width:100px" />
				&nbsp;&nbsp;&nbsp;&nbsp;
				备注：<input id="cgbz" name="cgbz" type="text" class="dfinput" style="width:325px" />
				<input type="hidden" id="nowtime" value="{{$time}}"  />
			</li>
	    </ul>
	    <ul class="forminfo">
	    	<li>
				<input id="Preservation" name="" type="button" onclick="addCgd()" class="btn" value="确认保存"/>&nbsp;&nbsp;&nbsp;
				<input name="" type="button" class="btn" style="color:#000000; background:#999999" value="取消" onclick="history.go(-1)"/>
			</li>
			<font style="color:#FF0000" id="alertFont"> </font>
		</ul>
    
    </div>
</body>
<script type="text/javascript" src="public/template/js/jquery.js"></script>
<script type="text/javascript" src="public/template/js/common/validate.js"></script>
<script type="text/javascript" src="public/template/js/calendar1/WdatePicker.js"></script>
<script type="text/javascript" src="public/template/js/cggl/xcgd.js"></script>
<script type="text/javascript">
	function getDhsj(){
		var nowDate = $("#nowtime").val();
		WdatePicker({minDate:nowDate});
	}
</script>
</html>
